@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

.pattaya-regular {
    font-family: "Pattaya", serif;
    font-weight: 400;
    font-style: normal;
  }

.text-header{
    font-family: "Pattaya", serif;
    font-weight: 400;
    font-style: normal;
}

.frame-skills{
  align-content: center;
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    height: 86px;
    justify-content: center;
    overflow: visible;
    padding: 14px 23px;
    position: relative;
    text-decoration: none;
    width: 86px;
  background-color: #fff;
    border-radius: 32px;
    height: 100%;
    width: 100%;
    opacity: 1;
}

.slider-container .text-center {
  transition: transform 0.3s ease-in-out;
}
.slider-container .text-center:hover {
  transform: scale(1.1); /* Animasi saat hover */
}
