
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

.pattaya-regular {
    font-family: "Pattaya", serif;
    font-weight: 400;
    font-style: normal;
  }

.text-header{
    font-family: "Pattaya", serif;
    font-weight: 400;
    font-style: normal;
}

.frame-skills{
  align-content: center;
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    height: 86px;
    justify-content: center;
    overflow: visible;
    padding: 14px 23px;
    position: relative;
    text-decoration: none;
    width: 86px;
  background-color: #fff;
    border-radius: 32px;
    height: 100%;
    width: 100%;
    opacity: 1;
}

.slider-container .text-center {
  transition: transform 0.3s ease-in-out;
}
.slider-container .text-center:hover {
  transform: scale(1.1); /* Animasi saat hover */
}

/* SLICK *//* Menambahkan efek fade di sisi kanan dan kiri */
.slick-track {
  position: relative;
}

.slick-track::before,
.slick-track::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10%; /* Lebar efek fade */
  background: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); /* Faded pada sisi kiri */
  z-index: 2; /* Pastikan berada di atas slide */
}

.slick-track::after {
  right: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); /* Faded pada sisi kanan */
}

/* Atur opacity slide non-aktif */
.slick-slide {
  opacity: 0;
  transition: opacity 2s ease;
}

.slick-list{
  padding-top: 1rem!important;
}

/* Atur opacity untuk slide aktif */
.slick-active {
  opacity: 1;
}

.slider-container{
  mask-image: linear-gradient(to left, transparent 0%, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 1) 90%, transparent 100%);
}